.error
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction column
	color $main
	justify-content center
	padding: 80px 24px
	+below(780px)
		height: 650px;
	&_code
		font-size: 130px;
		line-height: 96px;
		margin: 0;
	&_desc
		font-size: 40px;
		margin: 0;
	&_lead
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.6;
		text-align: center;
	&_btn
		background-color: $main;
		background: linear-gradient(to right, $contrast,$main);
		padding: 6px 14px;
		border: 2px solid #fff;
		border-radius: 12px;
		margin-top 40px
		a
			color white
			text-decoration none
			font-size 12px
			@extend .filson_regular
			letter-spacing: 2px;