.error
	height: 100vh;
	display: flex;
	align-items: center;
	color white
	padding: 80px 24px
	+below(780px)
		height: 650px;
	&_code
		font-size: 130px;
		line-height: 96px;
		margin: 0;
	&_desc
		font-size: 40px;
		margin: 0;
	&_lead
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.6;
		text-align: center;