@import "reset.css"
$small=460px
$large=1240px
$medium=700px
$main=#e04a2a;
$contrast=#ef6f30;
.filson_black
	font-family: filson-soft, sans-serif;
	font-style: normal;
	font-weight: 800;
.filson_bold
	font-family: filson-soft, sans-serif;
	font-style: normal;
	font-weight: 700;
.filson_medium
	font-family: filson-soft, sans-serif;
	font-style: normal;
	font-weight: 500;
.filson_regular
	font-family: filson-soft, sans-serif;
	font-style: normal;
	font-weight: 400;
@import "keyframes.styl"
@import "modal.styl"
@import "form.styl"
@import "error.styl"
body
	background-color #f5f3f3
	animation: fadeIn 1s forwards
	margin 0
	font-style: normal;
	font-size:16px;
	line-height:24px
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
img
	max-width 100%
html
	font-size: 62%;
	font-weight:500
*
	box-sizing:border-box;
a
	text-decoration:none;
	font-size:16px;
	line-height:24px
	@extend .transition
em,i
	font-style italic
section,header,footer
	lost-utility: clearfix;
	position relative
.pre_container
	width 100%
	+above($large)
		max-width $large
		margin 0 auto
		padding-left 40px
		padding-right 40px
.container
	width 100%
	padding 20px
	+above($large)
		border-left 1px solid white
		border-right 1px solid white
		margin 0 auto
	&:after
		border-left 1px solid white
		border-right 1px solid white
.header
	color white
	width 100%
	&_bg
		height 100vh
		background-repeat: no-repeat;
		width 100%
		background-size: cover;
		+above($large)
			width inherit
			height inherit
			background-size: cover;
			background-attachment: fixed;
			overflow: hidden;
	&_logo
		position absolute
		display block
		width 100%
		img
			display: block;
			margin: 0 auto;
			max-width 120px
			+above($medium)
				max-width 271px
	&_slogan
		align-self: flex-end;
		+below($medium)
			display none
			width 80%
			margin-top 5%
	&_container
		display flex
		flex-direction column
		justify-content center
		align-items center
		width inherit
		height inherit
		text-align center
		+above($medium)
			justify-content center
			padding 80px
	&_title
		@extend .filson_bold
		max-width 96%
		font-size 22px
		line-height 24px
		+above($medium)
			font-size 42px
			line-height 46px
			letter-spacing: 2px;
			margin-top: 16%;
	&_subtitle
		font-size 15px
		max-width 96%
		margin 12px 0
		+above($medium)
			margin 24px 0 88px 0
			letter-spacing: 2px;
			max-width 80%
	&_btn
		background-color: $main;
		background: linear-gradient(to right, $contrast,$main);
		padding: 6px 14px;
		border: 2px solid #fff;
		border-radius: 12px;
		a
			color white
			text-decoration none
			font-size 12px
			@extend .filson_regular
			letter-spacing: 2px;
	br
		+below($medium)
			display none
	.pre_container
		height inherit
		+above($large)
			padding-top 40px
	.container
		height inherit
		+above($large)
			border-top: 1px solid #fff;
.description
	display flex
	flex-direction column
	align-items center
	justify-content center
	margin-bottom 20px
	+above($medium)
		flex-direction row
		margin-bottom 40px
	&:first-child
		margin-top 80px
	&_img
		width 100%
		max-width 358px
		+above($medium)
			margin-right 40px
	&_title
		color $main
		@extend .filson_bold
		font-size 22px
		line-height 26px
		margin-bottom 20px
		+above($medium)
			margin-bottom 40px
			font-size 25px
			line-height 32px
			letter-spacing: 2px;
	&_txt
		padding-right: 42px;
	&_list
		position relative
		padding-left 18px
		li
			&:before
				position absolute
				content: '\2022 ';
				color: $main;
				left: 0px;
				font-size 22px
			+above($medium)
				margin-bottom 20px
				font-size 18px
.info
	text-align center
	margin-top 80px
	&_title
		color $main
		@extend .filson_black
		font-size 22px
		line-height 24px
		+above($medium)
			font-size 42px
			line-height 46px
	&_txt
		margin 20px 0
		color $contrast
		font-size 16px
		line-height 18px
		+above($medium)
			margin 40px auto
			max-width 680px
			letter-spacing: 1px;
			line-height 22px
			display block
.video
	position relative
	max-width 854px
	width 100%
	margin 0 auto
	display block
	+above($medium)
		height 300px
	&_img
		margin 0 auto
		display block
		+above($medium)
			position: absolute;
			z-index: 1;
			width 100%
.footer
	background-color: $main;
	background: linear-gradient($contrast,$main);
	color white
	text-align center
	padding-bottom 40px
	width 100%
	&_title
		@extend .filson_bold
		font-size 22px
		line-height 24px
		+above($medium)
			letter-spacing 2px
			font-size 42px
			line-height 46px
	&_txt
		font-size 16px
		line-height 22px
		margin: 19px 0 8px;
		+above($medium)
			letter-spacing: 2px;
			line-height 25px
	&_small
		font-size: 11px;
		letter-spacing: 1px;
		font-style: italic;
		font-weight 100
	&_partners
		display flex
		flex-direction column
		align-items center
		+above($medium)
			flex-direction row
			justify-content space-between
			max-width 780px
			margin 80px auto
		&_title
			@extend .filson_black
			font-size 22px
			line-height 24px
			//opacity 0.6
			width 320px
			margin-top 40px
			+above($medium)
				margin-top 0
				letter-spacing: 2px;
		&_img
			flex-direction column
			display flex
			+above($medium)
				flex-direction row
				align-items center
				justify-content space-around
				width 100%
			a
				opacity 0.6
				margin 10px auto
				&:hover
					opacity 1
	&_social
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		a
			margin 0 4px
			opacity 0.8
			&:hover
				opacity 1
	.container
		padding-top 40px
		+above($medium)
			padding-top 220px
		+above($large)
			border-bottom 1px solid white
.fa
	border-radius 50%
	font-size 16px
	text-align center
	width 32px
	height 32px
	display table-cell!important
	vertical-align middle
.fa-facebook
	background-color #3b5898
	color white
.fa-twitter
	background-color #54abed
	color white
.fa-linkedin
	background-color #0077b5
	color white
.fa-envelope
	background-color #7d7d7d
	color white